.details_wrap{
	width: 100%;
	height: 100%}
	.details_conbox{
		width: 100%;
		margin-top:.59rem;}
		.details_listul{
			width: 100%;
			height: 100%;}
		.details_list{
			border-top: 0.01rem solid #ccc;
    		margin-bottom: 0.06rem;}
		
	
