.common_header {
  width: 100%;
  height: 0.44rem;
  background: #5b248a;
  position: relative; }
  /* line 85, index.scss */
  .common_header .register_header_l {
    position: absolute;
    z-index: 6;
    left: 0.04rem;
    color: #fff;
    line-height: 0.44rem; }
    /* line 92, index.scss */
    .common_header .register_header_l i {
      font-size: .22rem; }
  /* line 96, index.scss */
  .common_header .register_header_tlt {
    font-weight: 100;
    position: absolute;
    text-align: center;
    line-height: 0.44rem;
    font-size: 0.15rem;
    top: 0;
    left: 0;
    right: 0;
    color: #fff; }
  /* line 107, index.scss */
  .common_header .register_header_r {
    line-height: 0.44rem;
    position: absolute;
    z-index: 8;
    right: 0.04rem;
    margin-right: 3%; }
    /* line 113, index.scss */
    .common_header .register_header_r i {
      color: #fff;
      font-size: .22rem; }

.common_list{
  height: 0.82rem;
  width: 100%;
  padding: 0.05rem 0.175rem 0.05rem 0.175rem;
  box-sizing: border-box;
  border-bottom: 0.01rem solid #ccc;}
 .tabcon_title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;}
     .tabcon_title .tabtit_left{
       /* float: left; */
        font-size: 0.15rem;
        line-height: 0.265rem;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        width: 2.5rem;
     }
     .tabcon_title .tabtit_right{
       /*  float: right; */
        color: #666666;
        font-size: 0.09rem;
     }
     .tabcon_pon{
        clear: both;
        font-size: 0.12rem;
        color: #999;
        height: 0.35rem;
        line-height: 0.18rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-top: 0.05rem;
     }
  

.common_footer{
  width: 100%;
  background: #e6e6e6;
  padding-bottom: 0.18rem;}
  .common_footer .common_nav{
    margin: 0 auto;}
  
  .common_footer h5{
    color: #666666;
    font-size: 0.13rem;
    font-weight: normal;
    text-align: center;
    padding: 0.15rem 0 0.1rem 0;}
  
  .common_footer .common_navp{
    color: #999999;
    font-size: 0.12rem;
    text-align: center;}
  